@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2024 TroubleChute (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/Basic/Settings"
@using TcNo_Acc_Switcher_Server.Data
@using TcNo_Acc_Switcher_Server.Data.Settings
@using TcNo_Acc_Switcher_Server.Pages.General.Classes
@namespace TcNo_Acc_Switcher_Server.Pages.Basic
@inject NavigationManager NavManager
@{ AppData.SetActiveNavMan(NavManager); }
@inject IJSRuntime JsRuntime
@{ AppData.SetActiveIJsRuntime(JsRuntime); }

@inject Lang Locale

@code
{
    private readonly Dictionary<string, Dictionary<string, string>> _gamesAndSettings = BasicStats.GetAllCurrentlyEnabledGames().ToDictionary(game => game, BasicStats.GetAllMetrics);
}

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <toastarea class="toastarea" />


            <h2 class="SettingsHeader">@Locale["Settings_Header_GeneralSettings"]</h2>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="DesktopShortcut" @bind="Basic.DesktopShortcut" @onclick="() => Shortcut.DesktopShortcut_Toggle(CurrentPlatform.SafeName, Basic.DesktopShortcut)"><label class="form-check-label" for="DesktopShortcut"></label></div><label for="DesktopShortcut">
		            @Locale["Settings_Shortcut", new { platform = CurrentPlatform.FullName }]<br></label>
            </div>
            <div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Admin" @bind="Basic.Admin"><label class="form-check-label" for="Admin"></label></div><label for="Admin">
		            @Locale["Settings_Admin", new { platform = CurrentPlatform.FullName }]<br></label>
            </div>
            <div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="AutoStart" @bind="Basic.AutoStart"><label class="form-check-label" for="AutoStart"></label></div><label for="AutoStart">
		            @Locale["Settings_AutoStart", new { platform = CurrentPlatform.FullName }]<br></label>
            </div>
            <div class="rowSetting rowDropdown">
                <span>@Locale["Settings_Header_ClosingMethod", new { platform = CurrentPlatform.FullName }]</span>
                <div class="dropdown" data-toggle="tooltip" title="@(Locale["Tooltip_ClosingMethod"])" data-placement="right">
                    <ul class="custom-dropdown-menu dropdown-menu">
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => Basic.SetClosingMethod("Combined")'>Combined (Best)</li>
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => Basic.SetClosingMethod("Close")'>Close</li>
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => Basic.SetClosingMethod("TaskKill")'>TaskKill (Old)</li>
                    </ul>
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                        @Basic.ClosingMethod
                        <span class="caret"></span>
                    </button>
                </div>
            </div>
            <div class="rowSetting rowDropdown">
                <span>@Locale["Settings_Header_StartingMethod", new { platform = CurrentPlatform.FullName }]</span>
                <div class="dropdown" data-toggle="tooltip" title="@(Locale["Tooltip_StartingMethod"])" data-placement="right">
                    <ul class="custom-dropdown-menu dropdown-menu">
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => Basic.SetStartingMethod("Default")'>Default (Best)</li>
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => Basic.SetStartingMethod("Direct")'>Direct</li>
                    </ul>
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                        @Basic.StartingMethod
                        <span class="caret"></span>
                    </button>
                </div>
            </div>

            <h2 class="SettingsHeader">@Locale["Settings_Header_AccountDisplay"]</h2>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="ShowShortNotes" @bind="Basic.ShowShortNotes"><label class="form-check-label" for="ShowShortNotes"></label></div><label for="ShowShortNotes">
                    @Locale["Settings_ShowShortNotes"]<br></label>
            </div>



            <h2 class="SettingsHeader">@Locale["Settings_Header_TraySettings"]</h2>
            <div class="form-text"><span>@Locale["Settings_TrayMax"]</span><input type="number" id="TrayAccNumber" min="0" max="365" @bind="Basic.TrayAccNumber"></div>


            <h2 class="SettingsHeader">@Locale["Settings_Header_GeneralTools"]</h2>
            <p>@Locale["Settings_CurrentLocation", new { path = Basic.FolderPath }]</p>
            <div class="buttoncol"><button id="PickFolder" type="button" @onclick="PickFolder"><span>@Locale["Settings_PickFolder", new { platform = CurrentPlatform.FullName }]</span></button><button id="OpenFolder" type="button" @onclick="() => Basic.OpenFolder(Basic.FolderPath)"><span>@Locale["Settings_OpenFolder", new { platform = CurrentPlatform.FullName }]</span></button></div>
            <div class="buttoncol"><button id="ResetSettings" type="button" @onclick="ClearSettings"><span>@Locale["Button_ResetSettings"]</span></button>
                @if (CurrentPlatform.CachePaths != null)
                {
                    <button id="ClearCache" type="button" @onclick="BasicSwitcherFuncs.ClearCache" data-toggle="tooltip" title="@(GetCacheList())" data-html="true"><span>@Locale["Platform_ClearCache"]</span></button>
                }
            </div>

            @if (CurrentPlatform.BackupPaths.Count > 0)
            {
                <h2 class="SettingsHeader">@Locale["Settings_Header_BackupRestore"]</h2>

                <div class="buttoncol">
                    @if (CurrentPlatform.BackupFileTypesInclude.Count != 0 || CurrentPlatform.BackupFileTypesIgnore.Count != 0){
                        <button id="Backup" type="button" @onclick="() => BackupButton()" data-toggle="tooltip" title="@(Locale["Tooltip_Backup"])" data-placement="bottom"><span>@Locale["Button_Backup"]</span></button>
                    }

                    <button id="BackupEverything" type="button" @onclick="() => BackupButton(true)" data-toggle="tooltip" title="@(Locale["Tooltip_BackupAll"])" data-placement="bottom"><span>@Locale["Button_BackupAll"]</span></button>

                    @if (CurrentPlatform.BackupFileTypesInclude.Count == 0 && CurrentPlatform.BackupFileTypesIgnore.Count == 0) {
                        <button id="OpenBackupFolder" type="button" @onclick="OpenBackupFolder"><span>@Locale["Button_OpenBackup"]</span></button>
                    }
                </div>
                <div class="buttoncol">

                    @if (CurrentPlatform.BackupFileTypesInclude.Count != 0 || CurrentPlatform.BackupFileTypesIgnore.Count != 0) {
                        <button id="OpenBackupFolder" type="button" @onclick="OpenBackupFolder"><span>@Locale["Button_OpenBackup"]</span></button>
                    }

                    <div class="button" id="Restore" type="button" data-toggle="tooltip" title="@(Locale["Tooltip_Restore"])" data-placement="bottom">
                        <InputFile OnChange="@RestoreFile"/>
                        <span>@Locale["Button_Restore"]</span>
                    </div>
                </div>
            }

            <div class="buttoncol col_close"><button class="btn_close" type="button" @onclick="SaveAndClose"><span>@Locale["Button_Close"]</span></button></div>

            @if (_gamesAndSettings.Count > 0)
            {
                <h2 class="SettingsHeader">@Locale["Settings_Header_GameStats"]</h2>
                <p>@Locale["Settings_GameStats"]</p>
                @foreach (var (game, settings) in _gamesAndSettings)
                {
                    <h3 class="SettingsHeader">@game</h3>
                @*@foreach (var (metricId, (hidden, metricText)) in settings)*@
                    @foreach (var (metricId, metricText) in settings)
                    {
                        <div class="form-check mb-2">
                            @*<input class="form-check-input @BasicStats.Instance.GetGameIdFromName(game)_Checkboxes" @bind="AppSettings.GloballyHiddenMetrics[game]." type="checkbox" id="@metricId" checked="@hidden"><label class="form-check-label" for="@metricId"></label><label for="@metricId">@metricText<br></label>*@
                            <input class="form-check-input" @bind="AppSettings.GloballyHiddenMetrics[game][metricId]" type="checkbox" id="@metricId"><label class="form-check-label" for="@metricId"></label><label for="@metricId">@metricText<br></label>
                        </div>
                    }
                }
                <div class="buttoncol col_close"><button class="btn_close" type="button" @onclick="SaveAndClose"><span>@Locale["Button_Close"]</span></button></div>
            }

            <SharedSettings />
            <div class="buttoncol col_close"><button class="btn_close" type="button" @onclick="SaveAndClose"><span>@Locale["Button_Close"]</span></button></div>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    protected override void OnParametersSet()
    {
        BasicStats.SetCurrentPlatform(CurrentPlatform.SafeName);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        AppStats.NewNavigation($"/[{CurrentPlatform.SafeName}]/Settings");
        if (!firstRender) return;
        _ = AppData.InvokeVoidAsync("initSavingHotKey");
    }

    public void SaveAndClose()
    {
        AppSettings.SaveSettings();
        Basic.SaveSettings();

        NavManager.NavigateTo("/Basic");
    }

    private static string GetCacheList()
    {
        var listOfFiles = new List<string>(CurrentPlatform.CachePaths);
        return Lang["FileFoldersToClear"] + "<br>" + string.Join("<br>", listOfFiles.Select(x => x.Replace("Platform_Folder", CurrentPlatform.FullName)).ToList());
    }
}
