@using TcNo_Acc_Switcher_Server.Data
@using TcNo_Acc_Switcher_Server.Pages.General
@using System.Diagnostics
@using System.IO
@using TcNo_Acc_Switcher_Globals
@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2024 TroubleChute (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@inject Lang Locale
@inject NavigationManager NavManager
@inject AppData AData
@{ AData.SetActiveNavMan(NavManager); }

<h1 class="SettingsHeader">@Locale["Settings_Header_AppWide"]</h1>


<h2 class="SettingsHeader">@Locale["Settings_Header_Language"]</h2>
<div class="rowSetting rowDropdown">
    <ChooseLanguage/>
</div>
<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="RTL" @bind="AppSettings.Rtl" @onclick="AppData.ReloadPage"><label class="form-check-label" for="RTL"></label>
    </div>
    <label for="RTL">
        @Locale["Settings_RTL"]<br>
    </label>
</div>



<h2 class="SettingsHeader">@Locale["Settings_Header_Theme"]</h2>
<div class="rowSetting rowDropdown">
    <span>@Locale["Settings_CurrentStyle"]</span>
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
            @AppSettings.StylesheetInfo["name"]
            <span class="caret"></span>
        </button>
        <ul class="custom-dropdown-menu dropdown-menu">
            @foreach (var item in AppSettings.GetStyleList())
            {
                <li class="custom-dropdown-item dropdown-item" @onclick="() => AppSettings.SwapStylesheet(item)">@item</li>
            }
        </ul>
    </div>
    <button id="AppSett_TestCss" type="button" @onclick='() => NavManager.NavigateTo("/Settings/PreviewCss")'><span>@Locale["PreviewCss"]</span></button>
</div>
<div class="rowSetting listWithBars">
    <ul>
        <li>
            <a class="fancyLink" @onclick='() => GeneralInvocableFuncs.ShowModal("SetBackground")'>@Locale["Settings_ThemeBackground"]</a>
        </li>
        <li>
            <a class="fancyLink" @onclick='() => Process.Start("explorer.exe", Path.Join(Globals.UserDataFolder, "themes"))'>@Locale["Settings_ThemeOpenFolder"]</a>
        </li>
    </ul>
</div>
<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_WinAccent" @bind="AppSettings.WindowsAccent" @onclick="AppSettings.WindowsAccent_Toggle"><label class="form-check-label" for="AppSett_WinAccent"></label>
    </div>
    <label for="AppSett_WinAccent">
        @Locale["Settings_WindowsAccent"]<br>
    </label>
</div>



<h2 class="SettingsHeader">@Locale["Settings_Header_System"]</h2>
<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_OfflineMode" @bind="AppSettings.OfflineMode" @onclick="AppData.OfflineMode_Toggle"><label class="form-check-label" for="AppSett_OfflineMode"></label>
    </div>
    <label for="AppSett_OfflineMode">
        @Locale["Settings_OfflineMode"]<br>
    </label>
</div>
<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_DesktopShortcut" @bind="AppSettings.DesktopShortcut" @onclick="AppSettings.DesktopShortcut_Toggle"><label class="form-check-label" for="AppSett_DesktopShortcut"></label>
    </div>
    <label for="AppSett_DesktopShortcut">
        @Locale["Settings_DesktopShortcut"]<br>
    </label>
</div>
<div class="rowSetting">
    <span>@Locale["Cleaning_Header_StartMenuShortcuts"]</span>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_StartMenu" @bind="AppSettings.StartMenu" @onclick="() => AppSettings.StartMenu_Toggle(false)"><label class="form-check-label" for="AppSett_StartMenu"></label>
    </div>
    <label for="AppSett_StartMenu">
        @Locale["Settings_StartMenu_ProgramTray"]<br>
    </label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_StartMenuPlatform" @bind="AppSettings.StartMenuPlatforms" @onclick="() => AppSettings.StartMenu_Toggle(true)"><label class="form-check-label" for="AppSett_StartMenuPlatform"></label>
    </div>
    <label for="AppSett_StartMenuPlatform">
        @Locale["Settings_StartMenu_Platform"]<br>
    </label>
</div>
<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_TrayStartup" @bind="AppSettings.TrayStartup" @onclick="AppSettings.AutoStart_Toggle"><label class="form-check-label" for="AppSett_TrayStartup"></label>
    </div>
    <label for="AppSett_TrayStartup">
        @Locale["Settings_Tray_StartWindows"]<br>
    </label>&nbsp;<a class="fancyLink" @onclick="AppSettings.StartNow">@Locale["Settings_Tray_StartNow"]</a>
</div>

<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_Protocol" @bind="AppSettings.ProtocolEnabled" @onclick="AppSettings.Protocol_Toggle"><label class="form-check-label" for="AppSett_Protocol"></label>
    </div>
    <label for="AppSett_Protocol">
        @Locale["Settings_Protocol"]<br>
    </label>
</div>

@if (AppData.TcNoClientApp)
{
    <div class="rowSetting">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="AppSett_StartCentered" @bind="AppSettings.StartCentered"><label class="form-check-label" for="AppSett_StartCentered"></label>
        </div>
        <label for="AppSett_StartCentered">
            @Locale["Settings_StartCentered"]<br>
        </label>
    </div>
}
<div class="rowSetting">
    <span>@Locale["Settings_Header_AppPassword"]</span>
    <button id="AppSett_SetPassword" type="button" @onclick="SetPassword"><span>@Locale["Button_SetPassword"]</span></button>
</div>


<h2 class="SettingsHeader">@Locale["Settings_Header_Program"]</h2>
<div class="rowSetting">
    <p>
        @Locale["Settings_CurrentDataLocation", new {path = Globals.UserDataFolder}]
        <br>
        <a class="fancyLink" @onclick="TrySetUserData">@Locale["Settings_SetDataLocation"]</a>
    </p>
</div>
@if (AppData.TcNoClientApp)
{
    <div class="rowSetting rowDropdown">
        <span>@Locale["Settings_Header_ActiveBrowser"]</span>
        <div class="dropdown">
            <ul class="custom-dropdown-menu dropdown-menu">
                <li class="custom-dropdown-item dropdown-item" @onclick='() => AppSettings.SetActiveBrowser("WebView")'>WebView</li>
                <li class="custom-dropdown-item dropdown-item" @onclick='() => AppSettings.SetActiveBrowser("CEF")'>CEF</li>
            </ul>
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                @AppSettings.ActiveBrowser
                <span class="caret"></span>
            </button>
        </div>
    </div>
    <div class="rowSetting">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="TrayMinimizeNotExit" @bind="AppSettings.TrayMinimizeNotExit" @onclick="AppSettings.TrayMinimizeNotExit_Toggle"><label class="form-check-label" for="TrayMinimizeNotExit"></label>
        </div>
        <label for="TrayMinimizeNotExit">
            @Locale["Settings_ExitToTray"]<br>
        </label>
    </div>
    <div class="rowSetting">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="AppSett_MinimizeOnSwitch" @bind="AppSettings.MinimizeOnSwitch"><label class="form-check-label" for="AppSett_MinimizeOnSwitch"></label>
        </div>
        <label for="AppSett_MinimizeOnSwitch">
            @Locale["Settings_MinimizeOnSwitch"]<br>
        </label>
    </div>
}
<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="StreamerMode" @bind="AppSettings.StreamerModeEnabled"><label class="form-check-label" for="StreamerMode"></label>
    </div>
    <label for="StreamerMode">
        @Locale["Settings_StreamerMode"]<br>
    </label>
</div>
<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_CheckForUpdates" @bind="AppSettings.CheckForUpdates"><label class="form-check-label" for="AppSett_CheckForUpdates"></label>
    </div>
    <label for="AppSett_CheckForUpdates">
        @Locale["Settings_CheckForUpdates"]<br>
    </label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_AutoUpdatePlatforms" @bind="AppSettings.AutoUpdatePlatforms"><label class="form-check-label" for="AppSett_AutoUpdatePlatforms"></label>
    </div>
    <label for="AppSett_AutoUpdatePlatforms">
        @Locale["Settings_AutoUpdatePlatforms"]<br>
    </label>
</div>


<h2 class="SettingsHeader">@Locale["Settings_Header_StatsSharing"]</h2>
<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_CollectStats" @bind="AppSettings.StatsEnabled" @onclick="AppData.RefreshDiscordPresenceAsync"><label class="form-check-label" for="AppSett_CollectStats"></label>
    </div>
    <label for="AppSett_CollectStats">
        @Locale["Settings_CollectStats"]<br>
    </label>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_ShareStats" @bind="AppSettings.StatsShare"><label class="form-check-label" for="AppSett_ShareStats"></label>
    </div>
    <label for="AppSett_ShareStats">
        @Locale["Settings_ShareStats"]<br>
    </label>

    <button id="AppSett_ViewStats" type="button" onclick='showModal("ShowStats")'><span>@Locale["Settings_ViewStats"]</span></button>
    <button id="AppSett_ClearStats" type="button" onclick='showModal("confirm:ClearStats")'><span>@Locale["Settings_ClearStats"]</span></button>
</div>
<div class="rowSetting">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_DiscordRpc" @bind="AppSettings.DiscordRpc" @onclick="AppData.RefreshDiscordPresenceAsync"><label class="form-check-label" for="AppSett_DiscordRpc"></label>
    </div>
    <label for="AppSett_DiscordRpc">
        @Locale["Settings_DiscordRpc"]<br>
    </label>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="AppSett_DiscordRpcSwitches" @bind="AppSettings.DiscordRpcShare" @onclick="AppData.RefreshDiscordPresenceAsync"><label class="form-check-label" for="AppSett_DiscordRpcSwitches"></label>
    </div>
    <label for="AppSett_DiscordRpcSwitches">
        @Locale["Settings_DiscordRpcShare"]<br>
    </label>
</div>

@code
{
    public void SetPassword()
    {
        Globals.DebugWriteLine(@"[ButtonClicked:SharedSettings.razor/SetPassword]");
        _ = GeneralInvocableFuncs.ShowModal("setAppPassword");
    }

    private void TrySetUserData()
    {
        // Verify that user can create file in program files folder first.
        try
        {
            var userDataFile = Path.Join(Globals.AppDataFolder, "userdata_path.txt");
            if (File.Exists(userDataFile))
                File.Delete(userDataFile);

            File.WriteAllText(userDataFile, "");
            File.Delete(userDataFile);

            GeneralInvocableFuncs.ShowModal("SetUserdata");
        }
        catch (Exception)
        {
            _ = GeneralInvocableFuncs.ShowToast("info", Locale["Toast_RestartRequired"], Locale["Notice"], "toastarea");
        }
    }
}
