@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2021 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/Riot/Settings"
@using TcNo_Acc_Switcher_Server.Pages.General.Classes
@using TcNo_Acc_Switcher_Server.Data
@namespace TcNo_Acc_Switcher_Server.Pages.Riot
@inject NavigationManager _navManager
@inject AppData _appData
@{ _appData.SetActiveNavMan(_navManager); }
@inject Data.Settings.Riot _riot
@inject AppSettings _appSett
@inject IJSRuntime _jsRuntime
@{ _appData.SetActiveIJsRuntime(_jsRuntime); }

@inject ILanguageContainerService  _locale
@code
{
	    private const string Platform = "Riot";
}

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <toastarea class="toastarea" />
            <SharedSettings />


            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_GeneralSettings"]</span>
                <hr>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="DesktopShortcut" @bind="_riot.DesktopShortcut" @onclick='() => Shortcut.DesktopShortcut_Toggle("Riot", _riot.DesktopShortcut)'><label class="form-check-label" for="DesktopShortcut"></label></div><label for="DesktopShortcut">
		            @_locale["Settings_Shortcut", new { platform = Platform }]<br></label>
            </div>
            <div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Admin" @bind="_riot.Admin"><label class="form-check-label" for="Admin"></label></div><label for="Admin">
		            @_locale["Settings_Admin", new { platform = Platform }]<br></label>
            </div>


            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_TraySettings"]</span>
                <hr>
            </div>
            <div class="form-text"><span>@_locale["Settings_TrayMax"]</span><input type="number" id="TrayAccNumber" min="0" max="365" @bind="_riot.TrayAccNumber"></div>


            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_GeneralTools"]</span>
                <hr>
            </div>
            <div class="buttoncol"><button id="ResetSettings" type="button" @onclick="ClearSettings"><span>@_locale["Button_ResetSettings"]</span></button></div>

            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_OpenGameFolders"]</span>
                <hr>
            </div>
            <button type="button" id="btnLeague" @onclick="() => RiotSwitcherFuncs.RiotOpenFolder('l')">
                <span>
                    <svg viewBox="0 0 2084 2084" draggable="false" alt="League" class="riotIcoLeague">
                        <use href="img/icons/ico_League.svg#icoLeague"></use>
                    </svg>
                </span>
            </button>
            <button type="button" id="btnRuneterra" @onclick="() => RiotSwitcherFuncs.RiotOpenFolder('r')">
                <span>
                    <svg viewBox="0 0 2084 2084" draggable="false" alt="Runeterra" class="riotIcoRuneterra">
                        <use href="img/icons/ico_Runeterra.svg#icoRuneterra"></use>
                    </svg>
                </span>
            </button>
            <button type="button" id="btnValorant" @onclick="() => RiotSwitcherFuncs.RiotOpenFolder('v')">
                <span>
                    <svg viewBox="0 0 2084 2084" draggable="false" alt="Valorant" class="riotIcoValorant">
                        <use href="img/icons/ico_Valorant.svg#icoValorant"></use>
                    </svg>
                </span>
            </button>

            <div class="buttoncol col_close"><button class="btn_close" type="button" @onclick="SaveAndClose"><span>@_locale["Button_Close"]</span></button></div>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    public void SaveAndClose()
    {
        _appSett.SaveSettings();
        _riot.SaveSettings();

        _navManager.NavigateTo("/Riot");
    }
}
