@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/"
@using System.Globalization
@using System.IO
@using TcNo_Acc_Switcher_Globals
@using TcNo_Acc_Switcher_Server.Shared.ContextMenu
@using System.Collections.ObjectModel
@using TcNo_Acc_Switcher_Server.State.Classes
@using TcNo_Acc_Switcher_Server.State.Interfaces
@using TcNo_Acc_Switcher_Server.Shared.Tooltip

@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager
@inject IWindowSettings WindowSettings
@inject IAppState AppState
@inject IModals Modals

@inject ILang Lang

@if (AppState.Updates.PreRenderUpdate)
{
    <div class="updateBar">
        <span>@Lang["Update"]</span>
        <i class="fas fa-times-circle" id="closeUpdateBar"></i>
    </div>
}

@code
{
    private static string _imagePath(PlatformItem platform) => Path.Join(Globals.UserDataFolder, $"wwwroot\\img\\platform\\{platform.SafeName}.svg");

    private ObservableCollection<MenuItem> _platformContextMenuItems;

    protected override void OnParametersSet()
    {
        // TODO: Why was this here?
        //TemplatedPlatformState.LoadTemplatedPlatformState(TemplatedPlatformFuncs);
        StaticFuncs.SaveOrderAction = WindowSettings.SavePlatformOrder;
    }
}

<ContextMenu MenuItems="@_platformContextMenuItems" ContextMenuId="AccOrPlatList" />
<div class="platformTable">
    <div class="platform_list">
        @foreach (var platform in WindowSettings.Platforms.OrderBy(x => x.DisplayIndex).Where(x => x.Enabled))
        {
            <div class="platform_list_item" id="@(platform.Identifier)" safeName="@platform.SafeName" @onmouseup="(e) => PlatformClick(e, platform.Name)" oncontextmenu="return false;">
                <div class="fgText @(!File.Exists(_imagePath(platform)) ? "noImageCenterText" : "") @(platform.Name.Length < 7 ? "shortText" : platform.Name.Length > 12 ? "longText" : "")"><p>@platform.Name.ToUpper(CultureInfo.InvariantCulture)</p></div>
                <div class="fgImg">
                    @if(File.Exists(_imagePath(platform)))
                    {
                        <svg viewBox="0 0 500 500" draggable="false" alt="@(platform.SafeName)">
                            <use href="@($"img/platform/{platform.SafeName}.svg#FG")" class="@("icoFG")"></use>
                        </svg>
                    }
                </div>
                <svg viewBox="0 0 2084 2084" draggable="false" alt="@(platform)" class="@("icoBG")">
                    <use href="img/platform/glass.svg#GLASS" class="icoGlass @("icoGlass")"></use>
                </svg>
            </div>
        }
    </div>
</div>

<div class="acc_list_actionbar">
    <div>
        @*<button id="btnTextEditor" onclick="location = 'TextEditor'">
            <i class="fas fa-cog footerIcoSettings"></i>
        </button>*@
        <Tooltip Text="@Lang["Tooltip_ManagePlatforms"]">
            <button class="btnPlatforms" @onclick='() => NavManager.NavigateTo("/Platforms/")'>
                <i class="fas fa-plus footerIcoInline"></i>
                @Lang["Button_ManagePlatforms"]
            </button>
        </Tooltip>
        <Tooltip Text="@Lang["Tooltip_Settings"]">
            <button class="btnSettings" @onclick='() => NavManager.NavigateTo("/Settings/")'>
                <i class="fas fa-cog footerIcoSettings"></i>
            </button>
        </Tooltip>
        <Tooltip Text="@Lang["Tooltip_Info"]">
            <button class="btnHelp" @onclick='() => Modals.ShowModal("info")'>
                <i class="fas fa-question footerIcoQuestion"></i>
            </button>
        </Tooltip>
    </div>
</div>

@code
{
    /// <summary>
    /// Shows the context menu for the requested platform
    /// </summary>
    public async void PlatformClick(MouseEventArgs e, string plat)
    {
        switch (e.Button)
        {
            case 0:
                // Left click
                Check(plat);
                break;
            case 2:
                // Right click
                AppState.Switcher.SelectedPlatform = plat;
                await JsRuntime.InvokeVoidAsync("positionAndShowMenu", e, "#AccOrPlatList");
                break;
        }
    }
}
