@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/"
@using TcNo_Acc_Switcher_Server.Data
@using TcNo_Acc_Switcher_Server.Pages.General
@using TcNo_Acc_Switcher_Globals
@using System.Globalization
@using System.Threading
@inject IJSRuntime _jsRuntime
@{ _appData.SetActiveIJsRuntime(_jsRuntime); }
@inject NavigationManager _navManager
@{ _appData.SetActiveNavMan(_navManager); }
@inject AppData _appData

@inject Lang  _locale

<ContextMenu ContextMenuString="@AppSettings.PlatformContextMenu" ContextMenuId="AccOrPlatList" />
<div class="platformTable">
    <div class="platform_list">
        @foreach (var platform in _appData.SortedPlatformListHandleDisabled())
        {
            <div class="platform_list_item" id="@(platform)" @onclick="() => Check(platform)">
                <div class="fgText @(!System.IO.File.Exists(System.IO.Path.Join(Globals.UserDataFolder, $"wwwroot/img/platform/{BasicPlatforms.PlatformSafeName(platform)}.svg")) ? "noImageCenterText" : "") @(BasicPlatforms.PlatformFullName(platform).Length < 7 ? "shortText" : BasicPlatforms.PlatformFullName(platform).Length > 12 ? "longText" : "")"><p>@BasicPlatforms.PlatformFullName(platform).ToUpper(CultureInfo.InvariantCulture)</p></div>
                <div class="fgImg">
                    @if(System.IO.File.Exists(System.IO.Path.Join(Globals.UserDataFolder, $"wwwroot/img/platform/{BasicPlatforms.PlatformSafeName(platform)}.svg")))
                    {
                        <svg viewBox="0 0 500 500" draggable="false" alt="@(BasicPlatforms.PlatformSafeName(platform))">
                            <use href="@($"img/platform/{BasicPlatforms.PlatformSafeName(platform)}.svg#FG")" class="@($"icoFG")"></use>
                        </svg>
                    }
                </div>
                <svg viewBox="0 0 2084 2084" draggable="false" alt="@(platform)" class="@($"icoBG")">
                    <use href="img/platform/glass.svg#GLASS" class="icoGlass @($"icoGlass")"></use>
                </svg>
            </div>
        }
    </div>
</div>

<div class="acc_list_actionbar">
    <div>
        @*<button id="btnTextEditor" onclick="location = 'TextEditor'">
            <i class="fas fa-cog footerIcoSettings"></i>
        </button>*@
        @if (BasicPlatforms.PlatformDict.Count > 0)
        {
            <button id="btnPlatforms" onclick="location = 'Platforms'" data-toggle="tooltip" title="@(_locale["Tooltip_ManagePlatforms"])">
                <i class="fas fa-plus footerIcoInline"></i>
                @Lang["Button_ManagePlatforms"]
            </button>
        }
        <button id="btnSettings" onclick="location = 'Settings'" data-toggle="tooltip" title="@(_locale["Tooltip_Settings"])">
            <i class="fas fa-cog footerIcoSettings"></i>
        </button>
        <button id="btnHelp" onclick="showModal('info');" data-toggle="tooltip" title="@(_locale["Tooltip_Info"])">
            <i class="fas fa-question footerIcoQuestion"></i>
        </button>
    </div>
</div>

@code
{
	// This is run before everything is painted on, so that it can get the correct values for the CSS Block.
	protected override void OnParametersSet()
	{
	}

	protected override void OnAfterRender(bool firstRender)
	{
		AppData.Instance.WindowTitle = "TcNo Account Switcher";

	    if (!_appData.AnyPlatformsShowing())
	    {
            _navManager.NavigateTo("Platforms");
	    }

	    if (firstRender)
		{
			GeneralFuncs.HandleQueries();
		    _ = AppData.InvokeVoidAsync("initContextMenu");
		    _ = AppData.InvokeVoidAsync("initPlatformListSortable");
			//await AppData.InvokeVoidAsync("initAccListSortable");
		}

        // Check for update in another thread
	    new Thread(AppSettings.CheckForUpdate).Start();
	}

	protected override void OnInitialized()
	{

	}
}