@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/Steam/"
@using System.IO
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.WebUtilities
@using TcNo_Acc_Switcher_Globals
@using TcNo_Acc_Switcher_Server.Shared.Accounts
@using TcNo_Acc_Switcher_Server.Shared.ContextMenu
@using TcNo_Acc_Switcher_Server.State.DataTypes
@using TcNo_Acc_Switcher_Server.State.Interfaces
@using TcNo_Acc_Switcher_Server.Shared.Tooltip
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IAppState AppState
@inject ISteamState SteamState
@inject ISteamFuncs SteamFuncs
@inject ISteamSettings SteamSettings
@inject IModals Modals
@inject ILang Lang
@inject IStatistics Statistics
@inject ISharedFunctions SharedFunctions
@inject IGameStats GameStats
@inject IToasts Toasts
@inject IWindowSettings WindowSettings

<ContextMenu MenuItems="@SteamState.ContextMenu.Menu" ContextMenuId="AccOrPlatList" />
<ContextMenu MenuItems="@SteamState.ContextMenu.ShortcutItems" ContextMenuId="Shortcuts" />
<ContextMenu MenuItems="@SteamState.ContextMenu.PlatformItems" ContextMenuId="Platform" />
<AccountList AccountItems="@AppState.Switcher.SteamAccounts" />

<div class="shortcutDropdown gameShortcuts" id="shortcutDropdown" style="display: none">
    <div class="shortcutDropdownItems">
        @foreach (var (i, shortcut) in SteamSettings.Shortcuts)
        {
            @if (i >= 0)
            {
                <Tooltip Text="@Globals.RemoveShortcutExt(shortcut)">
                    <button class="HasContextMenu" id="@(shortcut)" @onclick="(e) => ShortcutClick(e, shortcut)" @onmouseup="(e) => ShortcutClick(e, shortcut)" oncontextmenu="return false;">
                        <img src="@(GetShortcutImagePath(shortcut))" alt="@(shortcut[0])"/>
                    </button>
                </Tooltip>
            }
        }
    </div>
    <Tooltip Text="@(Lang["Tooltip_ShortcutFolder"])" Id="btnOpenShortcutFolder">
        <button @onclick='() => AppState.OpenFolder(Path.GetFullPath("LoginCache\\Steam\\Shortcuts\\"))'><i class="fas fa-plus"></i></button>
    </Tooltip>
</div>

<div class="acc_list_actionbar">
    <div class="statusBar"><div></div><input id="CurrentStatus" @bind="AppState.Switcher.CurrentStatus" spellcheck="false" disabled></div>
    <div class="gameShortcuts">
        <div class="shortcuts">
            @foreach (var (i, shortcut) in SteamSettings.Shortcuts)
            {
                @if (i < 0)
                {
                    <Tooltip Text="@Globals.RemoveShortcutExt(shortcut)">
                        <button class="HasContextMenu" id="@(shortcut)" @onclick="(e) => ShortcutClick(e, shortcut)" @onmouseup="(e) => ShortcutClick(e, shortcut)" oncontextmenu="return false;">
                            <img src="@(GetShortcutImagePath(shortcut))" alt="@(shortcut[0])"/>
                        </button>
                    </Tooltip>
                }
            }
        </div>
        <Tooltip Text="@(Lang["Tooltip_ExpandShortcuts"])">
            <button id="shortcutDropdownBtn" onclick="shortcutDropdownBtnClick()"><i class="fas fa-chevron-up"></i></button>
        </Tooltip>

        <Tooltip Text="Steam">
            <button id="btnStartPlat" @onmousedown="RunSteam" oncontextmenu="return false;">
                <img src="@(GetShortcutImagePath("Steam"))" alt="RUN"/>
            </button>
        </Tooltip>

        <button id="btnAddNew" @onclick="() => SteamFuncs.SwapToNewAccount(JsRuntime)">
            <i class="fas fa-plus footerIcoInline"></i>
            <span>@Lang["Button_AddNew"]</span>
        </button>
        <button class="btn_login" id="btnLogin" @onclick="() => SteamFuncs.SwapToAccount(JsRuntime)">
            <span>@Lang["Button_Login"]</span>
            <i class="fas fa-caret-right footerIcoInline"></i>
        </button>

        <Tooltip Text="@(Lang["Tooltip_Settings"])">
            <button class="btnSettings" @onclick='() => NavigationManager.NavigateTo("/Steam/Settings/")'>
                <i class="fas fa-cog footerIcoSettings"></i>
            </button>
        </Tooltip>

        <Tooltip Text="@(Lang["Tooltip_Info"])">
            <button class="btnHelp" @onclick='() => Modals.ShowModal("info")'>
                <i class="fas fa-question footerIcoQuestion"></i>
            </button>
        </Tooltip>
    </div>

</div>


@code
{
    public static string GetShortcutImagePath(string gameShortcutName) =>
        Path.Join("img\\shortcuts\\Steam\\", Globals.RemoveShortcutExt(gameShortcutName) + ".png");

    private async void OnChangeHandler()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        //AppData.Instance.OnChange -= OnChangeHandler;
    }

    // This has to be here for NavManager.
    // This is run before everything is painted on, so that it can get the correct values for the CSS Block.
    protected override async Task OnParametersSetAsync()
    {
        AppState.Stylesheet.StreamerModeCheck();
        await GameStats.SetCurrentPlatform("Steam");
        //var f = WindowSettings.UsingTcNoBrowser;
    }

    //protected override async Task OnAfterRenderAsync(bool firstRender) => await GeneralFuncs.HandleFirstRender(firstRender, "Steam");
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await HandleFirstRender(firstRender);
        Statistics.NewNavigation("/Steam/");
        if (!firstRender) return;

        await SteamState.LoadSteamState(SteamFuncs, JsRuntime);
        await InvokeAsync(StateHasChanged);

        await JsRuntime.InvokeVoidAsync("showNoteTooltips");

        var curAcc = SteamFuncs.GetCurrentAccountId(true);
        if (curAcc != "") await SteamFuncs.SetCurrentAccount(curAcc);
    }

    public async Task HandleFirstRender(bool firstRender)
    {
        if (firstRender)
        {
            AppState.WindowState.WindowTitle = Lang["Title_AccountsList", new { platform = "Steam" }];
            // Handle Streamer Mode notification
            if (WindowSettings.StreamerModeEnabled && AppState.Stylesheet.StreamerModeTriggered)
                Toasts.ShowToastLang(ToastType.Info, "Toast_StreamerModeTitle", "Toast_StreamerModeHint");

            // Handle queries and invoke status "Ready"
            await HandleQueries();
            await JsRuntime.InvokeVoidAsync("updateStatus", Lang["Done"]);
        }
    }

    /// <summary>
    /// For handling queries in URI
    /// </summary>
    public async Task<bool> HandleQueries()
    {
        Globals.DebugWriteLine(@"[JSInvoke:General\GeneralFuncs.HandleQueries]");
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        // Clear cache reload
        var queries = QueryHelpers.ParseQuery(uri.Query);
        // cacheReload handled in JS

        // Toast
        if (!queries.TryGetValue("toast_type", out var toastType) ||
            !queries.TryGetValue("toast_title", out var toastTitle) ||
            !queries.TryGetValue("toast_message", out var toastMessage)) return true;
        for (var i = 0; i < toastType.Count; i++)
        {
            try
            {
                var type = (ToastType)Enum.Parse(typeof(ToastType), toastType[i]);
                Toasts.ShowToastLang(type, toastTitle[i], toastMessage[i]);
                await JsRuntime.InvokeVoidAsync("removeUrlArgs", "toast_type,toast_title,toast_message");
            }
            catch (TaskCanceledException e)
            {
                Globals.WriteToLog(e.ToString());
            }
        }

        return true;
    }

    private async Task ShortcutClick(MouseEventArgs e, string shortcut)
    {
        switch (e.Button)
        {
            case 0 when e.Type == "click":
                // Left click
                SharedFunctions.RunShortcut(shortcut, "LoginCache\\Steam\\Shortcuts", "Steam");
                break;
            case 2:
                // Right click
                AppState.Switcher.CurrentShortcut = shortcut;
                await JsRuntime.InvokeVoidAsync("positionAndShowMenu", e, "#Shortcuts");
                break;
        }
    }

    private async Task RunSteam(MouseEventArgs e)
    {
        switch (e.Button)
        {
            case 0:
                // Left click
                SteamState.RunSteam(SteamSettings.Admin, "");
                break;
            case 2:
                // Right click
                await JsRuntime.InvokeVoidAsync("positionAndShowMenu", e, "#Platform");
                break;
        }
    }
}
