@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2021 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/Steam/RestoreForgotten"
@using TcNo_Acc_Switcher_Server.Data
@namespace TcNo_Acc_Switcher_Server.Pages.Steam
@inject NavigationManager _navManager
@inject AppData _appData
@{ _appData.SetActiveNavMan(_navManager); }
@inject IJSRuntime _jsRuntime
@{ _appData.SetActiveIJsRuntime(_jsRuntime); }
@inject ILanguageContainerService  _locale

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <toastarea class="toastarea" />
            <div class="SettingsHeader">
                <hr><span>@_locale["Restore_Header"]</span>
                <hr>
            </div>
            <p>
                @(new MarkupString(_locale["Restore_Info"]))
            </p>
            <div class="forgottenList">
                <select name="ForgottenSteamAccounts" size="15" multiple id="ForgottenSteamAccounts">
                </select>
            </div>
            <div class="forgottenListActions">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ForgottenShowId"><label class="form-check-label" for="Steam_ForgottenShowId"></label></div><label for="Steam_ForgottenShowId">@_locale["Steam_ShowSteamID"]<br></label>
                <button class="btn_RestoreSelected" type="button" onclick="restoreSteamAccounts()"><span>@_locale["Restore_Button_Restore"]</span></button>
            </div>
            <div class="buttoncol col_close">
                <button class="btn_close" type="button" @onclick='() => _navManager.NavigateTo("/Steam/Settings")'><span>@_locale["Button_Close"]</span></button>
            </div>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>
