@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2021 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/Steam/Settings"
@using TcNo_Acc_Switcher_Server.Pages.General.Classes
@using TcNo_Acc_Switcher_Server.Data
@namespace TcNo_Acc_Switcher_Server.Pages.Steam
@inject NavigationManager _navManager
@inject AppData _appData
@{ _appData.SetActiveNavMan(_navManager); }
@inject Data.Settings.Steam _steam
@inject AppSettings _appSett
@inject IJSRuntime _jsRuntime
@{ _appData.SetActiveIJsRuntime(_jsRuntime); }

@inject ILanguageContainerService  _locale
@code
{
	    private const string Platform = "Steam";
}

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <toastarea class="toastarea" />
            <SharedSettings />


            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_GeneralSettings"]</span>
                <hr>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_DesktopShortcut" @bind="_steam.DesktopShortcut" @onclick='() => Shortcut.DesktopShortcut_Toggle("Steam", _steam.DesktopShortcut)'><label class="form-check-label" for="Steam_DesktopShortcut"></label></div><label for="Steam_DesktopShortcut">
		            @_locale["Settings_Shortcut", new { platform = Platform }]<br></label>
            </div>
            <div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_Admin" @bind="_steam.Admin"><label class="form-check-label" for="Steam_Admin"></label></div><label for="Steam_Admin">
		            @_locale["Settings_Admin", new { platform = Platform }]<br></label>
            </div>
            <div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowSteamID" @bind="_steam.ShowSteamId"><label class="form-check-label" for="Steam_ShowSteamID"></label></div><label for="Steam_ShowSteamID">@_locale["Steam_ShowSteamID"]<br></label>
            </div>
            <div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowVAC" @bind="_steam.ShowVac"><label class="form-check-label" for="Steam_ShowVAC"></label></div><label for="Steam_ShowVAC">@_locale["Steam_ShowVac"]<br></label>
            </div>
            <div>
	            <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowLimited" @bind="_steam.ShowLimited"><label class="form-check-label" for="Steam_ShowLimited"></label></div><label for="Steam_ShowLimited">@_locale["Steam_ShowLimited"]<br></label>
            </div>
            <div>
	            <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowAccUsername" @bind="_steam.ShowAccUsername"><label class="form-check-label" for="Steam_ShowAccUsername"></label></div><label for="Steam_ShowAccUsername">@_locale["Steam_ShowAccUsername"]<br></label>
            </div>
            <div class="form-text"><span>@_locale["Settings_ImageExpiry"]</span><input type="number" id="Steam_ImageExpiryTime" min="0" max="365" @bind="_steam.ImageExpiryTime"></div>


            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_TraySettings"]</span>
                <hr>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_TrayAccountName" @bind="_steam.TrayAccName"><label class="form-check-label" for="Steam_TrayAccountName"></label></div><label for="Steam_TrayAccountName">@_locale["Steam_Tray_AccountName"]<br></label>
            </div>
            <div class="form-text"><span>@_locale["Settings_TrayMax"]</span><input type="number" id="Steam_TrayAccNumber" min="0" max="365" @bind="_steam.TrayAccNumber"></div>


            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_GeneralTools"]</span>
                <hr>
            </div>
            <div class="buttoncol"><button id="Steam_PickFolder" type="button" @onclick="PickFolder"><span>@_locale["Settings_PickFolder", new { platform = Platform }]</span></button><button id="Steam_CheckVAC" type="button" @onclick="ClearVacStatus"><span>@_locale["Steam_CheckVac"]</span></button></div>
            <div class="buttoncol"><button id="Steam_ResetSettings" type="button" @onclick="ClearSettings"><span>@_locale["Button_ResetSettings"]</span></button><button id="Steam_ResetImages" type="button" @onclick="ClearImages"><span>@_locale["Button_RefreshImages"]</span></button></div>


            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_OtherTools"]</span>
                <hr>
            </div>
            <div class="buttoncol"><button type="button" @onclick='() => _navManager.NavigateTo("/Steam/RestoreForgotten")'><span>@_locale["Settings_RestoreForgotten"]</span></button><button type="button" @onclick="SteamSwitcherFuncs.ClearForgotten"><span>@_locale["Settings_ClearForgotten"]</span></button></div>
            <div class="buttoncol"><button id="OpenFolder" type="button" @onclick="OpenFolder"><span>@_locale["Settings_OpenFolder", new { platform = Platform }]</span></button><button id="Steam_AdvancedClearing" type="button" @onclick='() => _navManager.NavigateTo("/Steam/AdvancedClearing")'><span>@_locale["Button_AdvancedCleaning"]</span></button></div>
            <div class="buttoncol col_close"><button class="btn_close" type="button" @onclick="SaveAndClose"><span>@_locale["Button_Close"]</span></button></div>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    public void SaveAndClose()
    {
        _appSett.SaveSettings();
        _steam.SaveSettings();

        _navManager.NavigateTo("/Steam");
    }
}
