@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@using TcNo_Acc_Switcher_Server.Data
@using System.Collections.ObjectModel
@using TcNo_Acc_Switcher_Globals
@using TcNo_Acc_Switcher_Server.Data.Settings
@using TcNo_Acc_Switcher_Server.Pages.General
@inherits AccountFuncs

@code {
    [Parameter]
    public Account Acc { get; set; }

    protected override void OnInitialized()
    {
        Acc.OnChange += OnChangeHandler;
    }
    private async void OnChangeHandler()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Acc.OnChange -= OnChangeHandler;
    }
}

<div class="acc_list_item" title="@Acc.TitleText" data-toggle="tooltip" @onclick="() => SetSelectedAccount(Acc)" oncontextmenu="return false;" @onmouseup="(e) => AccountRightClick(e, Acc)" @ondblclick="() => AppFuncs.SwapToAccount()">
    <input type="radio" id="@Acc.AccountId" DisplayName="@Acc.SafeDisplayName" class="acc @(Acc.IsChecked ? "acc_selected" : "")" name="accounts" role="checkbox">
    <label for="@Acc.AccountId" class="acc @Acc.Classes.Label @(Acc.IsCurrent ? "currentAcc" : "")">
        <img class="@Acc.Classes.Image" src="@Acc.ImagePath?@Globals.GetUnixTime()" draggable="false" alt=""/>
        @if (@Acc.Line0 != "")
        {
            <p class="@Acc.Classes.Line0">@Acc.Line0</p>
        }
        @if (AppData.CurrentSwitcher == "Steam"
             && Steam.CustomAccNames != null
             && Steam.CustomAccNames.ContainsKey(Acc.AccountId))
        {
            <h6 class="displayName">@Steam.CustomAccNames[Acc.AccountId]</h6>
        }
        else
        {
            <h6 class="displayName">@Acc.SafeDisplayName</h6>
        }
        @if (@Acc.Line2 != "")
        {
            <p class="@Acc.Classes.Line2">@Acc.Line2</p>
        }
        @if (@Acc.Line3 != "")
        {
            <p class="@Acc.Classes.Line3">@Acc.Line3</p>
        }
        @if (Acc.Note != "")
        {
            <p class="acc_note">@Acc.Note</p>
        }
        @if (Acc.UserStats.Keys.Count > 0)
        {
            @foreach (var game in Acc.UserStats)
            {
                var gameName = game.Key;
                var gameStats = game.Value;
                foreach (var gameStat in gameStats)
                {
                    @if (!AppSettings.GloballyHiddenMetrics[gameName][gameStat.Key])
                    {
                        <h6 class="acc_stat">@(new MarkupString(gameStat.Value.IndicatorMarkup + gameStat.Value.StatValue))</h6>
                    }
                }
            }
        }
    </label>
</div>