@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@using TcNo_Acc_Switcher.Shared.Modal
@using TcNo_Acc_Switcher_Globals
@using TcNo_Acc_Switcher.Pages.General
@using TcNo_Acc_Switcher.State
@using TcNo_Acc_Switcher.State.Interfaces
@inject IModals Modals
@inject ILang Lang

@code {
    protected override void OnInitialized()
    {
        Modals.Title = Lang["Modal_Title_Info"];
    }
}

<div class="infoWindow">
    <div class="imgDiv">
        <img width="100" margin="5" src="img/TcNo500.png" draggable="false" @onclick='() => StaticFuncs.OpenLinkInBrowser("https://tcno.co")' alt="TcNo Logo">
    </div>
    <div class="rightContent">
        <h2>TcNo Account Switcher</h2>
        <p>@Lang["Modal_Info_Creator"]</p>
        <div class="linksList">
            <a @onclick='() => StaticFuncs.OpenLinkInBrowser("https://github.com/TcNobo/TcNo-Acc-Switcher")' href=""><svg viewBox="0 0 24 24" draggable="false" alt="GitHub" class="modalIcoGitHub"><use href="img/icons/ico_github.svg#icoGitHub"></use></svg>@Lang["Modal_Info_ViewGitHub"]</a>
            <a @onclick='() => StaticFuncs.OpenLinkInBrowser("https://s.tcno.co/AccSwitcherDiscord")' href=""><svg viewBox="0 0 24 24" draggable="false" alt="Discord" class="modalIcoDiscord"><use href="img/icons/ico_discord.svg#icoDiscord"></use></svg>@Lang["Modal_Info_BugReport"]</a>
            <a @onclick='() => StaticFuncs.OpenLinkInBrowser("https://tcno.co")' href=""><svg viewBox="0 0 24 24" draggable="false" alt="Website" class="modalIcoNetworking"><use href="img/icons/ico_networking.svg#icoNetworking"></use></svg>@Lang["Modal_Info_VisitSite"]</a>
            <a @onclick='() => StaticFuncs.OpenLinkInBrowser("https://github.com/TcNobo/TcNo-Acc-Switcher/blob/master/DISCLAIMER.md")' href=""><svg viewBox="0 0 2084 2084" draggable="false" alt="GitHub" class="modalIcoDoc"><use href="img/icons/ico_doc.svg#icoDoc"></use></svg>@Lang["Modal_Info_Disclaimer"]</a>
        </div>
    </div>
</div><div class="versionIdentifier"><span>@Lang["Modal_Info_Version"]: @Globals.Version</span></div>