@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@using System.IO
@using TcNo_Acc_Switcher.Pages.Steam
@using TcNo_Acc_Switcher.State
@using TcNo_Acc_Switcher.State.DataTypes
@using TcNo_Acc_Switcher.State.Interfaces
@inject IModals Modals
@inject ILang Lang
@inject IJSRuntime JsRuntime
@inject IToasts Toasts
@implements IDisposable

@code {
    [Parameter]
    public string CurrentPath { get; set; }

    [Parameter]
    public int Depth { get; set; }

    private FolderFileList _currentFileList;

    private Action _onChange;
    protected override void OnInitialized()
    {
        _currentFileList = new FolderFileList(Toasts, CurrentPath, Depth);
        _onChange = async () => await OnChangeHandler();
        Modals.PathPickerOnChange += _onChange;
    }

    void IDisposable.Dispose()
    {
        Modals.PathPickerOnChange -= _onChange;
    }

    private async Task OnChangeHandler()
    {
        await InvokeAsync(StateHasChanged);
    }

    // This must be a cascading variable and a check to see if it is included somewhere in the list. This could get confusing.
    private string _folderName = "";
    private string _selectedFile = "";
}

@if (!Modals.PathPicker.LastPath.ToLowerInvariant().Contains(_currentFileList.FullPath.ToLowerInvariant()))
{
    <span class="folder" @onclick="ExpandFolder">@_currentFileList.FolderName</span>
}
else
{
    <div>
        <span class="folder c head selected-path" @onclick="CloseFolder">@_currentFileList.FolderName</span>
        @foreach (var folder in _currentFileList.ChildFolders.Value)
        {
            <PathPickerChildren CurrentPath="@folder.FullPath" Depth="Depth + 1"/>
        }

        @if (Modals.PathPicker.ShowFiles)
        {
            @foreach (var file in _currentFileList.Files.Value)
            {
                <span class="@(file.Contains(Modals.PathPicker.RequestedFile) ? "suggested" : "") @(_selectedFile == file ? "selected-path" : "")" @onclick="() => SelectFile(file)">@Path.GetFileName(file)</span>
            }
        }
    </div>
}

@code
{
    private void ExpandFolder()
    {
        Modals.PathPicker.LastPath = _currentFileList.FullPath;
        Modals.PathPicker.LastElement = PathPickerElement.Folder;
        Modals.PathPickerNotifyDataChanged();
    }

    private void CloseFolder()
    {
        try
        {
            var parent = Path.GetDirectoryName(_currentFileList.FullPath) ?? "";
            Modals.PathPicker.LastPath = parent;
            Modals.PathPicker.LastElement = PathPickerElement.Folder;
            Modals.PathPickerNotifyDataChanged();
        }
        catch (Exception)
        {
            //
        }
    }

    private void SelectFile(string file)
    {
        _selectedFile = file;
        Modals.PathPicker.LastPath = file;
        Modals.PathPicker.LastElement = PathPickerElement.File;
        Modals.PathPickerNotifyDataChanged();
    }
}
