@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2024 TroubleChute (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/Platforms/"
@using TcNo_Acc_Switcher_Server.Data
@namespace TcNo_Acc_Switcher_Server.Pages.Platforms
@inject NavigationManager NavManager
@{ AppData.SetActiveNavMan(NavManager); }
@inject IJSRuntime JsRuntime
@{ AppData.SetActiveIJsRuntime(JsRuntime); }
@inject AppData AData
@inject Lang Locale

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <toastarea class="toastarea" />

            @if (!AData.AnyPlatformsShowing())
            {
                <span>@Locale["Settings_NoPlatforms"]</span>

                <div class="SettingsHeader mt-4"> <!-- I couldn't just include the opening tag here, so copy/paste everything... -->
                    <hr><span>@Locale["Settings_Header_ExtraPlatforms"]</span>
                    <hr>
                </div>
            }
            else
            {
                <h2 class="SettingsHeader">@Locale["Settings_Header_ExtraPlatforms"]</h2>
            }

            @if (AppSettings.DisabledPlatforms.Count > 0 || BasicPlatforms.PlatformDict.Count != AppSettings.EnabledBasicPlatforms.Count)
            {
                <h2 class="SettingsHeader">@Locale["Settings_ExtraPlatformsDisabled"]</h2>

                <div class="rowSetting">
                    @foreach (var item in AData.DisabledPlatformSorted())
                    {
                        <div class="form-check mb-2"><input class="form-check-input" type="checkbox" id="@item" @onclick="() => AppSettings.ShowPlatform(item)"><label class="form-check-label" for="@item"></label><label for="@item">@BasicPlatforms.PlatformFullName(item)<br></label></div>
                    }
                </div>
            }

            @if (AData.AnyPlatformsShowing()) {
                <div class="SettingsHeader mt-2">
                    <p>@Locale["Settings_ExtraPlatformsEnabled"]</p>
                </div>

                <div class="rowSetting">
                    @foreach (var item in AData.EnabledPlatformSorted())
                    {
                        <div class="form-check mb-2"><input class="form-check-input" type="checkbox" id="@item" checked @onclick="() => AppSettings.HidePlatform(item)"><label class="form-check-label" for="@item"></label><label for="@item">@BasicPlatforms.PlatformFullName(item)<br></label></div>
                    }
                </div>
            }

            @if (AData.AnyPlatformsShowing())
            {
                <div class="buttoncol col_close"><button class="btn_close" type="button" @onclick="SaveAndClose"><span>@Locale["Button_Close"]</span></button></div>
            }
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        AppStats.NewNavigation("/Platforms/");
    }

    public void SaveAndClose()
    {
        AppSettings.SaveSettings();
        NavManager.NavigateTo("/");
    }
}
