@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2021 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    This program is distributed in the hope that it will be useful,
    (at your option) any later version.
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.


    Special thanks to iR3turnZ for contributing to this platform's account switcher
    iR3turnZ: https://github.com/HoeblingerDaniel*@

@page "/BattleNet/Settings"
@using TcNo_Acc_Switcher_Server.Pages.General.Classes
@using TcNo_Acc_Switcher_Server.Data
@namespace TcNo_Acc_Switcher_Server.Pages.BattleNet
@inject NavigationManager _navManager
@inject AppData _appData
@{ _appData.SetActiveNavMan(_navManager); }
@inject Data.Settings.BattleNet _battleNet
@inject AppSettings _appSett
@inject IJSRuntime _jsRuntime
@{ _appData.SetActiveIJsRuntime(_jsRuntime); }
@inject ILanguageContainerService  _locale

@code
{
	    private const string Platform = "BattleNet";
}

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <toastarea class="toastarea" />
            <SharedSettings />

            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_GeneralSettings"]</span>
                <hr>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="DesktopShortcut" @bind="_battleNet.DesktopShortcut" @onclick='() => Shortcut.DesktopShortcut_Toggle("BattleNet", _battleNet.DesktopShortcut)'><label class="form-check-label" for="DesktopShortcut"></label></div><label for="DesktopShortcut">@_locale["Settings_Shortcut", new { platform = Platform }]</label>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Admin" @bind="_battleNet.Admin"><label class="form-check-label" for="Admin"></label></div><label for="Admin">
		            @_locale["Settings_Admin", new { platform = Platform }]<br></label>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="OverwatchMode" @bind="_battleNet.OverwatchMode" @onclick="OverwatchToggle"><label class="form-check-label" for="OverwatchMode"></label></div><label for="OverwatchMode">@_locale["BattleNet_ShowSR"]<br></label>
            </div>
            <div class="form-text"><span>@_locale["Settings_ImageExpiry"]</span><input type="number" id="Steam_ImageExpiryTime" min="0" max="365" @bind="_battleNet.ImageExpiryTime"></div>

            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_TraySettings"]</span>
                <hr>
            </div>
            <div class="form-text">
                <span>@_locale["Settings_TrayMax"]</span><input type="number" id="TrayAccNumber" min="0" max="365" @bind="_battleNet.TrayAccNumber">
            </div>
            <div class="SettingsHeader">
                <hr><span>@_locale["Settings_Header_GeneralTools"]</span>
                <hr>
            </div>
            <div class="buttoncol">
                <button id="PickFolder" type="button" @onclick="PickFolder">
                    <span>@_locale["Settings_PickFolder", new { platform = Platform }]</span>
                </button>
                <button id="ResetSettings" type="button" @onclick="ClearSettings">
                    <span>@_locale["Button_ResetSettings"]</span>
                </button>
            </div>
            <div class="buttoncol">
                <button id="OpenFolder" type="button" @onclick="OpenFolder">
                    <span>@_locale["Settings_OpenFolder", new { platform = Platform }]</span>
                </button>
                <button id="ClearForgotten" type="button" @onclick="ClearForgotten">
                    <span>@_locale["Settings_ClearForgotten"]</span>
                </button>
            </div>
            <div class="buttoncol">
                <button id="ClearAccounts" type="button" @onclick="ClearAccounts">
                    <span>@_locale["Settings_ClearAccounts"]</span>
                </button>
            </div>
            <div class="buttoncol col_close">
                <button class="btn_close" type="button" @onclick="SaveAndClose">
                    <span>@_locale["Button_Close"]</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    public void SaveAndClose()
    {
        _appSett.SaveSettings();
        _battleNet.SaveSettings();

        _navManager.NavigateTo("/BattleNet");
    }
}