@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    This program is distributed in the hope that it will be useful,
    (at your option) any later version.
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.


    Special thanks to iR3turnZ for contributing to this platform's account switcher
    iR3turnZ: https://github.com/HoeblingerDaniel*@

@page "/BattleNet/Settings"
@using TcNo_Acc_Switcher_Server.Data
@using TcNo_Acc_Switcher_Server.Data.Settings
@using TcNo_Acc_Switcher_Server.Pages.General.Classes
@namespace TcNo_Acc_Switcher_Server.Pages.BattleNet
@inject NavigationManager NavManager
@inject AppData AData
@{ AData.SetActiveNavMan(NavManager); }
@inject IJSRuntime JsRuntime
@{ AData.SetActiveIJsRuntime(JsRuntime); }
@inject Lang Locale

@code
{
	    private const string Platform = "BattleNet";
}

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <toastarea class="toastarea" />
            <h1 class="SettingsHeader">@Locale["Settings_Header_Platform", new{ platformName = "BattleNet"}]</h1>



            <h2 class="SettingsHeader">@Locale["Settings_Header_GeneralSettings"]</h2>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="DesktopShortcut" @bind="BattleNet.DesktopShortcut" @onclick='() => Shortcut.DesktopShortcut_Toggle("BattleNet", BattleNet.DesktopShortcut)'><label class="form-check-label" for="DesktopShortcut"></label></div><label for="DesktopShortcut">@Locale["Settings_Shortcut", new { platform = Platform }]</label>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Admin" @bind="BattleNet.Admin"><label class="form-check-label" for="Admin"></label></div><label for="Admin">
		            @Locale["Settings_Admin", new { platform = Platform }]<br></label>
            </div>
            <div>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="AutoStart" @bind="BattleNet.AutoStart"><label class="form-check-label" for="AutoStart"></label></div><label for="AutoStart">
                    @Locale["Settings_AutoStart", new { platform = "BattleNet" }]<br></label>
            </div>
            <div class="rowSetting rowDropdown">
                <span>@Locale["Settings_Header_ClosingMethod", new { platform = "BattleNet" }]</span>
                <div class="dropdown" data-toggle="tooltip" title="@(Locale["Tooltip_ClosingMethod"])" data-placement="right">
                    <ul class="custom-dropdown-menu dropdown-menu">
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => BattleNet.SetClosingMethod("Combined")'>Combined (Best)</li>
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => BattleNet.SetClosingMethod("Close")'>Close</li>
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => BattleNet.SetClosingMethod("TaskKill")'>TaskKill (Old)</li>
                    </ul>
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                        @BattleNet.ClosingMethod
                        <span class="caret"></span>
                    </button>
                </div>
            </div>
            <div class="rowSetting rowDropdown">
                <span>@Locale["Settings_Header_StartingMethod", new { platform = "BattleNet" }]</span>
                <div class="dropdown" data-toggle="tooltip" title="@(Locale["Tooltip_StartingMethod"])" data-placement="right">
                    <ul class="custom-dropdown-menu dropdown-menu">
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => BattleNet.SetStartingMethod("Default")'>Default (Best)</li>
                        <li class="custom-dropdown-item dropdown-item" @onclick='() => BattleNet.SetStartingMethod("Direct")'>Direct</li>
                    </ul>
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                        @BattleNet.StartingMethod
                        <span class="caret"></span>
                    </button>
                </div>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="OverwatchMode" @bind="BattleNet.OverwatchMode" @onclick="OverwatchToggle"><label class="form-check-label" for="OverwatchMode"></label></div><label for="OverwatchMode">@Locale["BattleNet_ShowSR"]<br></label>
            </div>
            <div class="form-text"><span>@Locale["Settings_ImageExpiry"]</span><input type="number" id="Steam_ImageExpiryTime" min="0" max="365" @bind="BattleNet.ImageExpiryTime"></div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="ShowShortNotes" @bind="BattleNet.ShowShortNotes"><label class="form-check-label" for="ShowShortNotes"></label></div><label for="ShowShortNotes">
                    @Locale["Settings_ShowShortNotes"]<br></label>
            </div>



            <h2 class="SettingsHeader">@Locale["Settings_Header_TraySettings"]</h2>
            <div class="form-text">
                <span>@Locale["Settings_TrayMax"]</span><input type="number" id="TrayAccNumber" min="0" max="365" @bind="BattleNet.TrayAccNumber">
            </div>



            <h2 class="SettingsHeader">@Locale["Settings_Header_GeneralTools"]</h2>
            <p>@Locale["Settings_CurrentLocation", new { path = BattleNet.FolderPath }]</p>
            <div class="buttoncol">
                <button id="PickFolder" type="button" @onclick="PickFolder">
                    <span>@Locale["Settings_PickFolder", new { platform = Platform }]</span>
                </button>
                <button id="ResetSettings" type="button" @onclick="ClearSettings">
                    <span>@Locale["Button_ResetSettings"]</span>
                </button>
            </div>
            <div class="buttoncol">
                <button id="OpenFolder" type="button" @onclick="() => Basic.OpenFolder(BattleNet.FolderPath)">
                    <span>@Locale["Settings_OpenFolder", new { platform = Platform }]</span>
                </button>
                <button id="ClearForgotten" type="button" @onclick="ClearForgotten">
                    <span>@Locale["Settings_ClearForgotten"]</span>
                </button>
            </div>
            <div class="buttoncol">
                <button id="ClearAccounts" type="button" @onclick="ClearAccounts">
                    <span>@Locale["Settings_ClearAccounts"]</span>
                </button>
            </div>
            <div class="buttoncol col_close">
                <button class="btn_close" type="button" @onclick="SaveAndClose">
                    <span>@Locale["Button_Close"]</span>
                </button>
            </div>


            <SharedSettings />
            <div class="buttoncol col_close">
                <button class="btn_close" type="button" @onclick="SaveAndClose">
                    <span>@Locale["Button_Close"]</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        AppStats.NewNavigation("/BattleNet/Settings");
        if (!firstRender) return;
        _ = AppData.InvokeVoidAsync("initSavingHotKey");
    }

    public void SaveAndClose()
    {
        AppSettings.SaveSettings();
        BattleNet.SaveSettings();

        NavManager.NavigateTo("/BattleNet");
    }
}