@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@using TcNo_Acc_Switcher_Server.Shared.Modal
@using TcNo_Acc_Switcher_Globals
@using TcNo_Acc_Switcher_Server.Pages.General
@using Newtonsoft.Json
@using System.IO
@using System.Text.RegularExpressions
@using TcNo_Acc_Switcher_Server.Pages.Basic
@using TcNo_Acc_Switcher_Server.Pages.Steam
@using System.Configuration
@using TcNo_Acc_Switcher_Server.Shared.Toast
@using TcNo_Acc_Switcher_Server.State
@using TcNo_Acc_Switcher_Server.State.DataTypes
@using TcNo_Acc_Switcher_Server.State.Interfaces
@inject IModals Modals
@inject ILang Lang
@inject IGameStats GameStats
@inject IAppState AppState
@inject IWindowSettings WindowSettings
@inject IJSRuntime JsRuntime
@inject ISteamSettings SteamSettings
@inject ISteamFuncs SteamFuncs
@inject ITemplatedPlatformState TemplatedPlatformState
@inject ITemplatedPlatformFuncs TemplatedPlatformFuncs
@inject ITemplatedPlatformSettings TemplatedPlatformSettings
@inject IStatistics Statistics
@inject IToasts Toasts

@code {
    private MarkupString _message = new();
    protected override void OnInitialized()
    {
        Modals.Title = Lang["Modal_Title_ConfirmAction"];

        _message = Modals.ExtraArgs switch
        {
            ExtraArg.ForgetAccount => AppState.Switcher.CurrentSwitcher == "Steam"
                ? new MarkupString(Lang["Prompt_ForgetSteam"])
                : new MarkupString(Lang["Prompt_ForgetAccount"]),
            ExtraArg.ClearStats => new MarkupString(Lang["Prompt_ClearStats"]),
            ExtraArg.RestartAsAdmin => new MarkupString(Lang["Prompt_RestartAsAdmin"]),
            _ => _message
            };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        await JsRuntime.InvokeVoidAsync("focusOn", "#modal_false");
    }
}

<div class="infoWindow">
    <div class="fullWidthContent"><h3>@Lang["Modal_ConfirmAction"]:</h3> @_message
        <div class="YesNo">
            @if (Modals.ExtraArgs == ExtraArg.RestartAsAdmin)
            {
                <button type="button" id="modal_true" @onclick="ButtonOk"><span>@Lang["Ok"]</span></button>
                <br />
                <br />
                <div class="form-check"><input class="form-check-input" type="checkbox" id="AlwaysAdmin" @bind="WindowSettings.AlwaysAdmin" @onclick="AlwaysAdminClicked"><label class="form-check-label" for="AlwaysAdmin"></label></div><label for="AlwaysAdmin">@Lang["Settings_AlwaysAdmin"]<br></label>
            }
            else
            {
                <button type="button" id="modal_true" @onclick="ButtonYes"><span>@Lang["Yes"]</span></button>
                <button type="button" id="modal_false" @onclick="ButtonNo"><span>@Lang["No"]</span></button>
            }
        </div>
    </div>
</div>

@code
{
    private void AlwaysAdminClicked()
    {
        WindowSettings.AlwaysAdmin = !WindowSettings.AlwaysAdmin;
        WindowSettings.Save();
    }

    private void ButtonYes()
    {
        switch (Modals.ExtraArgs)
        {
            case ExtraArg.ForgetAccount:
            {
                if (AppState.Switcher.CurrentSwitcher == "Steam")
                {
                    SteamSettings.ForgetAccountEnabled = true;
                    SteamSettings.Save();
                    SteamFuncs.ForgetAccount();
                }
                else
                {
                    TemplatedPlatformSettings.ForgetAccountEnabled = true;
                    TemplatedPlatformSettings.Save();
                    TemplatedPlatformFuncs.ForgetAccount();
                }

                break;
            }
            case ExtraArg.ClearStats:
                Statistics.ClearStats();
                break;
        }

        Toasts.ShowToastLang(ToastType.Success, "Success");
        Modals.CloseModal();
    }

    private void ButtonOk()
    {
        if (Modals.ExtraArgs == ExtraArg.RestartAsAdmin)
        {
            StaticFuncs.RestartAsAdmin();
        }


        Modals.CloseModal();
    }

    private void ButtonNo()
    {
        Modals.CloseModal();
    }
}
