@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2024 TroubleChute (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/Settings/PreviewCss/"
@using TcNo_Acc_Switcher_Server.Data
@using TcNo_Acc_Switcher_Server.Pages.General
@using TcNo_Acc_Switcher_Globals
@namespace TcNo_Acc_Switcher_Server.Pages.PreviewCss
@inject NavigationManager NavManager
@{ AppData.SetActiveNavMan(NavManager); }
@inject IJSRuntime JsRuntime
@{ AppData.SetActiveIJsRuntime(JsRuntime); }
@inject AppData AData
@inject Lang Locale

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <h1 class="SettingsHeader">@Locale["Settings_PreviewCssHeader"]</h1>
            <p>@Locale["Settings_PreviewCss"]</p>
            <div class="rowSetting rowDropdown">
                <span>@Locale["Settings_CurrentStyle"]</span>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                        @AppSettings.StylesheetInfo["name"]
                        <span class="caret"></span>
                    </button>
                    <ul class="custom-dropdown-menu dropdown-menu">
                        @foreach (var item in AppSettings.GetStyleList())
                        {
                            <li class="custom-dropdown-item dropdown-item" @onclick="() => AppSettings.SwapStylesheet(item)">@item</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="buttoncol col_close"><button class="btn_close" type="button" onclick="history.back()"><span>@Locale["Button_Back"]</span></button></div>
        </div>
    </div>


    <h2 class="SettingsHeader">@Locale["Preview_Platforms"]</h2>
    <div class="preview_element">
        <ContextMenu MenuItems="@Data.Settings.Basic.ContextMenuItems" ContextMenuId="AccOrPlatList" />
        <ContextMenu MenuItems="@Data.Settings.Basic.ContextMenuShortcutItems" ContextMenuId="Shortcuts" />
        <ContextMenu MenuItems="@Data.Settings.Basic.ContextMenuPlatformItems" ContextMenuId="Platform" />
        <div class="programMain previewMain">
            <div class="platformTable">
                <div class="platform_list" aria-dropeffect="move">
                    <div class="platform_list_item preview_list_item" id="Steam" draggable="true" role="option" aria-grabbed="false">
                        <div class="fgText  shortText">
                            <p>STEAM</p></div>
                        <div class="fgImg">
                            <svg viewBox="0 0 500 500" draggable="false" alt="Steam"><use href="img/platform/Steam.svg#FG" class="icoFG"></use></svg>
                        </div>
                        <svg viewBox="0 0 2084 2084" draggable="false" alt="Steam" class="icoBG"><use href="img/platform/glass.svg#GLASS" class="icoGlass icoGlass"></use></svg>
                    </div>
                    <div class="platform_list_item preview_list_item" id="gn" draggable="true" role="option" aria-grabbed="false">
                        <div class="fgText">
                            <p>GEFORCE NOW</p></div>
                        <div class="fgImg"><svg viewBox="0 0 500 500" draggable="false" alt="GeForce Now"><use href="img/platform/GeForce Now.svg#FG" class="icoFG"></use></svg></div>
                        <svg viewBox="0 0 2084 2084" draggable="false" alt="gn" class="icoBG"><use href="img/platform/glass.svg#GLASS" class="icoGlass icoGlass"></use></svg>
                    </div>
                </div>
            </div>
            <div class="acc_list_actionbar">
                <div>
                    <button id="btnPlatforms" onclick="location = 'Platforms'" data-toggle="tooltip" title="" data-original-title="Show or Hide other platforms"><i class="fas fa-plus footerIcoInline"></i>Manage Platforms</button>
                    <button id="btnSettings" onclick="location = 'Settings'" data-toggle="tooltip" title="" data-original-title="Settings"><i class="fas fa-cog footerIcoSettings"></i></button>
                    <button id="btnHelp" onclick="showModal('info');" data-toggle="tooltip" title="" data-original-title="Info"><i class="fas fa-question footerIcoQuestion"></i></button>
                </div>
            </div>
        </div>
    </div>


    <h2 class="SettingsHeader">@Locale["Preview_Accounts"]</h2>
    <div class="preview_element previewMain">
        <div id="acc_list" class="acc_list" style="grid-template-rows: repeat(auto-fill, 135px)" aria-dropeffect="move">
            <div class="acc_list_item preview_list_item" data-toggle="tooltip" draggable="true" role="option" aria-grabbed="false" title="" data-placement="right" data-original-title="You are currently logged into this account.">
                <input type="radio" id="1234" displayname="Current Account" class="acc" name="accounts" username="1234" steamid64="1234" line1="testacc1" line2="Current Account" line3="1656860000" extraclasses="" onchange="selectedItemChanged()">
                <label for="1234" class="acc status_vac currentAcc">
                    <img class="" src="img/BasicDefault.png" draggable="false">
                    <h6>Current Account</h6>
                    <p class="streamerCensor steamId">1234</p>
                    <p>07/03/2022 17:33:29</p>
                </label>
            </div>
            <div class="acc_list_item preview_list_item" data-toggle="tooltip" draggable="true" role="option" aria-grabbed="false" data-original-title="" title="">
                <input type="radio" id="4321" displayname="Account 2" class="acc" name="accounts" username="4321" steamid64="4321" line1="testacc2" line2="Account 2" line3="1656850000" extraclasses="" onchange="selectedItemChanged()">
                <label for="4321" class="acc ">
                    <img class="" src="img/BattleNetDefault.png" draggable="false">
                    <h6>Account 2</h6>
                    <p class="streamerCensor steamId">4321</p>
                    <p>07/03/2022 12:06:40</p>
                </label>
            </div>
            <div class="acc_list_item preview_list_item" data-toggle="tooltip" draggable="true" role="option" aria-grabbed="false" data-original-title="" title="">
                <input type="radio" id="12345" displayname="Banned Account" class="acc" name="accounts" username="12345" steamid64="12345" line1="testacc3" line2="BannedAcc" line3="1656840000" extraclasses="status_vac" onchange="selectedItemChanged()">
                <label for="12345" class="acc ">
                    <img class="status_vac" src="img/QuestionMark.jpg" draggable="false">
                    <h6>Banned Account</h6>
                    <p class="streamerCensor steamId">12345</p>
                    <p>07/03/2022 9:20:00</p>
                </label>
            </div>
            <div class="acc_list_item preview_list_item" data-toggle="tooltip" draggable="true" role="option" aria-grabbed="false" data-original-title="" title="">
                <input type="radio" id="54321" displayname="Limited Account" class="acc" name="accounts" username="54321" steamid64="54321" line1="testacc4" line2="LimitedAccount" line3="1656830000" extraclasses="status_limited" onchange="selectedItemChanged()">
                <label for="54321" class="acc ">
                    <img class="status_limited" src="img/TcNo500.png" draggable="false">
                    <h6>Limited Account</h6>
                    <p class="streamerCensor steamId">54321</p>
                    <p>07/032022 6:33:20</p>
                </label>
            </div>
        </div>

        <div class="acc_list_actionbar">
            <div class="statusBar">
                <div></div>
                <input id="CurrentStatus" spellcheck="false" disabled="">
            </div>
            <div class="gameShortcuts">
                <div class="shortcuts" aria-dropeffect="move">
                    <button class="HasContextMenu" id="TcNo Account Switcher.lnk" data-toggle="tooltip" title="" draggable="true" role="option" aria-grabbed="false" data-original-title="TcNo Account Switcher">
                        <img src="img\BasicDefault.png" alt="T">
                    </button>
                </div>
                <button id="shortcutDropdownBtn" onclick="shortcutDropdownBtnClick()" data-toggle="tooltip" title="" data-placement="right" class="" data-original-title="Expand Game &amp; Shortcut selection">
                    <i class="fas fa-chevron-up"></i>
                </button>
                <button id="btnStartPlat" data-toggle="tooltip" title="" data-original-title="Steam">
                    <img src="img\platform\Steam.svg" alt="Start platform">
                </button>
                <button id="btnAddNew" onclick="newLogin()">
                    <i class="fas fa-plus footerIcoInline"></i>
                    <span>Add New</span>
                </button>
                <button class="btn_login" id="btnLogin" onclick="swapTo(-1, event)">
                    <span>Login</span>
                    <i class="fas fa-caret-right footerIcoInline"></i>
                </button>
                <button id="btnSettings" onclick="location = 'Steam/Settings'" data-toggle="tooltip" title="" data-original-title="Settings">
                    <i class="fas fa-cog footerIcoSettings"></i>
                </button>
                <button id="btnHelp" onclick="showModal('info');" data-toggle="tooltip" title="" data-original-title="Info">
                    <i class="fas fa-question footerIcoQuestion"></i>
                </button>
            </div>
        </div>
    </div>


    <h2 class="SettingsHeader">@Locale["Preview_Notifications"]</h2>
    <div class="preview_element">
        <div class="notification-container bottom-right">
            <div class="notification top-border success" style="opacity: 1;">
                <svg class="vector-container" viewBox="0 0 25 25" width="25" height="25">
                    <path fill="rgb(76, 175, 80)" d="M12.5 0C5.602 0 0 5.602 0 12.5S5.602 25 12.5 25 25 19.398 25 12.5 19.398 0 12.5 0zm-2.3 18.898l-5.5-5.5 1.8-1.796 3.7 3.699L18.5 7l1.8 1.8zm0 0"></path>
                </svg>
                <div class="text-container">
                    <h6></h6>
                    <p>Test success!</p>
                </div>
                <div class="close">✖</div>
            </div>
            <div class="notification top-border info" style="opacity: 1;">
                <svg class="vector-container" viewBox="0 0 25 25" width="25" height="25">
                    <path fill="rgb(3, 169, 244)" d="M12.504.035a12.468 12.468 0 100 24.937 12.468 12.468 0 000-24.937zM15.1 19.359c-.643.25-1.153.445-1.537.576-.384.134-.825.199-1.333.199-.775 0-1.381-.192-1.813-.57a1.832 1.832 0 01-.642-1.442c0-.227.015-.459.047-.693.03-.24.083-.504.154-.806l.802-2.835c.069-.272.132-.527.182-.77.048-.244.069-.467.069-.668 0-.36-.075-.615-.223-.756-.153-.144-.437-.213-.857-.213-.207 0-.422.036-.639.095a9.914 9.914 0 00-.56.184l.213-.874a19.777 19.777 0 011.51-.549 4.48 4.48 0 011.361-.23c.77 0 1.368.19 1.784.56a1.857 1.857 0 01.626 1.452c0 .122-.012.341-.04.652a4.44 4.44 0 01-.162.856l-.798 2.831a8.133 8.133 0 00-.176.775c-.05.288-.075.51-.075.66 0 .374.082.633.251.771.165.134.458.202.875.202.192 0 .412-.037.66-.1.243-.073.42-.127.531-.18zm-.144-11.483a1.901 1.901 0 01-1.343.518 1.93 1.93 0 01-1.352-.518 1.65 1.65 0 01-.562-1.258 1.688 1.688 0 01.562-1.266 1.914 1.914 0 011.35-.522c.524 0 .975.173 1.345.523a1.673 1.673 0 01.56 1.266 1.65 1.65 0 01-.56 1.257z"></path>
                </svg>
                <div class="text-container">
                    <h6></h6>
                    <p>Test info.</p>
                </div>
                <div class="close">✖</div>
            </div>
            <div class="notification top-border error" style="opacity: 1;">
                <svg class="vector-container" viewBox="0 0 25 25" width="25" height="25">
                    <path fill="rgb(244, 67, 54)" d="M12.469.027c-3.332 0-6.465 1.301-8.824 3.653-4.86 4.86-4.86 12.777 0 17.636a12.392 12.392 0 008.824 3.653c3.336 0 6.465-1.301 8.824-3.653 4.863-4.859 4.863-12.777 0-17.636A12.417 12.417 0 0012.469.027zm5.61 18.086a1.137 1.137 0 01-.802.332c-.285 0-.582-.113-.8-.332l-4.008-4.008-4.008 4.008a1.137 1.137 0 01-.8.332c-.286 0-.583-.113-.802-.332a1.132 1.132 0 010-1.605l4.008-4.004L6.86 8.496a1.132 1.132 0 010-1.605 1.127 1.127 0 011.602 0l4.008 4.007 4.008-4.007a1.127 1.127 0 011.601 0c.45.449.45 1.164 0 1.605l-4.004 4.008 4.004 4.004c.45.449.45 1.164 0 1.605zm0 0"></path>
                </svg>
                <div class="text-container">
                    <h6></h6>
                    <p>Test error! :(</p>
                </div>
                <div class="close">✖</div>
            </div>
        </div>
    </div>


    <h2 class="SettingsHeader">@Locale["Preview_Modals"]</h2>
<div class="preview_element">
    <div class="container mainblock">
        <div class="row">
            <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
                <div class="buttoncol">
                    <button id="Steam_PickFolder" type="button" @onclick='() => _ = GeneralInvocableFuncs.ShowModal("find:Steam:Steam.exe:SteamSettings")'><span>@Locale["Settings_PickFolder", new {platform = "Steam"}]</span></button>
                    <button id="RestartAsAdmin" type="button" @onclick='() => _ = GeneralInvocableFuncs.ShowModal("notice:RestartAsAdmin")'><span>@Locale["Button_RestartAdmin"]</span></button>
                </div>
                <div class="buttoncol">
                    <button id="Info" type="button" @onclick='() => _ = GeneralInvocableFuncs.ShowModal("info")'><span>@Locale["Tooltip_Info"]</span></button>
                    <button id="crowdin" type="button" @onclick='() => _ = GeneralInvocableFuncs.ShowModal("crowdin")'><span>@Locale["Modal_Crowdin_Header"]</span></button>
                </div>
                <div class="buttoncol">
                    <button id="SetBackground" type="button" @onclick='() => _ = GeneralInvocableFuncs.ShowModal("SetBackground")'><span>@Locale["Modal_SetBackground_Button"]</span></button>
                    <button id="ShowStats" type="button" @onclick='() => _ = GeneralInvocableFuncs.ShowModal("ShowStats")'><span>@Locale["Settings_ViewStats"]</span></button>
                </div>
                <div class="buttoncol">
                    <button id="changeUsername" type="button" @onclick='() => _ = GeneralInvocableFuncs.ShowModal("changeUsername")'><span>@Locale["Context_ChangeName"]</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

    <h2 class="SettingsHeader">@Locale["Preview_Settings"]</h2>
    <div class="preview_element">
        <div class="container mainblock">
	        <div class="row">
                <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
                    <div class="form-text"><span>@Locale["Settings_ImageExpiry"]</span><input type="number" id="Steam_ImageExpiryTime" min="0" max="365" /></div>
                    <div class="rowSetting">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="StreamerMode" checked>
                            <label class="form-check-label" for="StreamerMode"></label>
                        </div>
                        <label for="StreamerMode">@Locale["Settings_StreamerMode"]<br></label>
                    </div>

                    <h2 class="SettingsHeader">Program</h2>
                    <div class="rowSetting rowDropdown">
                        <span>@Locale["Settings_Header_ActiveBrowser"]</span>
                        <div class="dropdown">
                            <ul class="custom-dropdown-menu dropdown-menu">
                                <li class="custom-dropdown-item dropdown-item">WebView</li>
                                <li class="custom-dropdown-item dropdown-item">CEF</li>
                            </ul>
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown">@AppSettings.ActiveBrowser
                                <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="rowSetting">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="TrayMinimizeNotExit">
                            <label class="form-check-label" for="TrayMinimizeNotExit"></label>
                        </div>
                        <label for="TrayMinimizeNotExit">@Locale["Settings_ExitToTray"]<br></label>
                    </div>
                    <div class="rowSetting">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="AppSett_MinimizeOnSwitch">
                            <label class="form-check-label" for="AppSett_MinimizeOnSwitch"></label>
                        </div>
                        <label for="AppSett_MinimizeOnSwitch">@Locale["Settings_MinimizeOnSwitch"]<br></label>
                    </div>
                </div>
	        </div>
		</div>
    </div>
</div>





<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        AppStats.NewNavigation("/Settings/PreviewCss");
        _ = AppData.InvokeVoidAsync("initContextMenu");
        _ = AppData.InvokeVoidAsync("initAccListSortable");
        _ = AppData.InvokeVoidAsync("initPlatformListSortable");
    }
}
